body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: 50px;
}

a.christmas-shirt-img {
    margin: 0 auto;
    display: block;
    width: 400px;
    padding-bottom: 25px;
}
img.christmas-shirt-img {
    height: 400px;
}
h2.inline {
    display: inline;
}

div.ads {
    text-align: center;
}
.slogan-gag {
    display: inline;
    /* mfw this css */
    cursor: pointer;
    cursor: hand;
}
p.bookmark-banner {
    font-size: 12px;
    color: white;
}
div.bookmark-banner {
    text-align: center;
}
nav.bookmark-banner {
    min-height: 25px;
}
h1.title {
    display: inline
}
div.shirt-preview {
    overflow: hidden;
    width: 730px;
}
img.shirt-preview {
    height: 130px;;
    float: right;
}
img.shirt-preview-small {
    height: 100px;
    float: right;
}
div.shirt-preview-button {
    margin-top: 25px;
}
.background-bluegrey {
    background: #607d8b;
}
a.bluegrey {
    color: #b0bec5;
}
p.text-bigger {
    font-size: 16pt;
}
a.awesome-face {
    padding-right: 3px;
}
td.facedata {
    text-align : center;
    width: 50%;
}
span.face {
    text-transform: none;
     white-space: nowrap;
      overflow: hidden;
}
.muted {
    color: #999999;
}
button.facebtn {
    text-align: center;
    margin: 0 auto;
    border: 0px;
    font-size: 30pt;
    line-height: 75px;
    color: #333333;

}

.zeroclipboard-is-hover {
  color: rgba(255, 255, 255, 0.84);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
  cursor: pointer;
}

.zeroclipboard-is-active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

div.footer {
    padding-top:100px;
}
.vertical-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

button.face-big {
    font-size: 100pt;
    line-height: 300px;
}

p.outro {
    padding-left: 20px;
}
h4.faq {
    cursor: pointer; 
}


div.social-container {
    padding-top: 7px;
    padding-right: 7px;
}
div.social-item {
    display: inline-block;
}
div.fb-like {
    vertical-align: super;
}

div.well-face {
    width: 5%;
}
div.well-silver {
    width: 20%;
}

p.home {
    padding-top: 20px;
    padding-bottom: 100px;
}

div.text-gags {
    text-align: center;
    padding-top: 50px;
}

div.sample-gag {
    display: block;
    margin-left: 50px;
}

p.sample-gag {
    display: block;
}
textarea.gag-text {
    display: block;
    margin-left: 25%;
    width: 50%;
}
.nav-tabs > li > a {
    color: #333333;
}
.nav-tabs > li.active > a {
    color: #333333 !important;
    font-weight: bold;
}

ul#facesnav {
    background: white;
}
.nav-tabs > li {
    margin-bottom: 0px !important;
}
.nav-tabs {
    border: 1px solid #ddd;
}

/* Juuuuuust trust me on this one */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.open > a, .nav-tabs > li.open > a:hover {
    color: black !important;
}

a.no-color {
    color: inherit;
}
a.no-decoration {
    color: inherit;
    text-decoration: none;
}

div.shirt-preview {
    display: inline-block;
    width: 720px;
    vertical-align: bottom;
    height: 100px;
    margin-top: 0px;
    margin: 0 auto
}
div.title {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}
div.shirt-preview-outer {
    display: inline-block;
}
