@import url('https://fonts.googleapis.com/css?family=Droid+Sans:200');
body {
    /*
    background-image: url('../img/background.png');
    background-repeat: repeat;
    */
    background-color: #FFFFFF;
}
div.ads {
    text-align: center;
}
.slogan-gag {
    display: inline;
    /* mfw this css */
    cursor: pointer;
    cursor: hand;
}
h1.title {
    display: inline
}
.background-bluegrey {
    background: #607d8b;
}
a.bluegrey {
    color: #b0bec5;
}
p.text-bigger {
    font-size: 16pt;
}
a.awesome-face {
    padding-right: 13px;
    padding-top: 4px;
}
td.facedata {
    text-align : center;
    width: 50%;
}
span.face {
    text-transform: none;
}
table {
    margin:auto;
}
.muted {
    color: #999999;
}
button.facebtn {
    text-align: center;
    border: 0px;
    font-size: 30pt;
    line-height: 75px;
    color: #333333;

    /* HACK INCOMING HERE WE GO */
      position: relative;
      padding: 8px 30px;
      border: 0;
      margin: 10px 1px;
      cursor: pointer;
      border-radius: 4px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.84);
      -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
              transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      outline: none !important;

      background-color: transparent;
}

.zeroclipboard-is-hover {
  color: rgba(255, 255, 255, 0.84);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
  cursor: pointer;
}

.zeroclipboard-is-active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

div.footer {
    padding-top:100px;
}
.vertical-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

button.face-big {
    font-size: 100pt;
    line-height: 300px;
}

p.outro {
    padding-left: 20px;
}
h4.faq {
    cursor: pointer; 
}

td {
    padding:0 !important;
    border:0 none;
    outline: none;
}
tr {
    border-top: none;
}
table {
    border-collapse: collapse !important;
    border: none;
}
div.social {
    float: right;
    padding-top: 7px;
    padding-right: 7px;
}

div.well-face {
    width: 5%;
}
div.well-silver {
    width: 20%;
}

p.home {
    padding-top: 20px;
    padding-bottom: 100px;
}

div.text-gags {
    text-align: center;
    padding-top: 50px;
}

div.sample-gag {
    display: block;
    margin-left: 50px;
}

p.sample-gag {
    display: block;
}
textarea.gag-text {
    display: block;
    margin-left: 25%;
    width: 50%;
}

.nav-highlight {
    background-color: #673AB7;
}
.nav-tabs > li {
    margin-bottom: 0px !important;
}
