
div.shirtbox {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;

}

div.preview {
    text-align: center;
}

img.face-preview {
    width: 200px;
}

img.custom-shirt-preview {
}

div.face-preview {
    /*vertical-align: bottom;*/
    padding-right: 50px;
}

div.custom-shirt-preview {
    padding-left: 50px;
}
div.preview > div {
    display: inline;
}

div.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: .5;
    z-index: 9999999;
}

div.plus > span.plus {
    font-weight: 700;
    font-size: 50px;
}
.darkbg {
    background-color: #222222;
}
.darkbg * {
    color: #eeeeee;
}
div.modal-dialog {
    width: 1000px;
}

div.shirt-images {
    text-align: center;
}
img.shirt-image {
    cursor: pointer;
}

div.colours > img {
    cursor:pointer;
}

.spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
