{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/main.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block container %}


<div class="jumbotron">
    <h1> textfac.es is a Good Idea. </h1>
    <p class="lead"> Because Google is hard. </p>
</div>

<div class="">

    <p class="lead">
    You want this:
    </p>
    <div class="well-face text-center">
        <p class="text-bigger" >ಠ_ಠ</p>
    </div>
    <p class="lead">
    So you're doing this:
    </p>
    <div class="text-center">
        new tab > google "look of disapproval text face thing" > google somehow knows what you want > highlight > ctrl + c > back to other tab > paste > dammit missed highlighting some of the face
    </div>

    <h1> Ain't nobody got time for that. </h1>
    <div class="">
        <ol>
            <li>textfac.es </li>
            <li>Click the face you want </li>
            <li>It's already on your clipboard</li>
            <li><strong>Go paste it you can do it just believe</strong></li>
        </ol>
    </div>

    <p class="">
    textfac.es sorts faces in order of use. The most frequently used face is at the top, so you'll probably find what you want pretty quickly.
    </p>

    <h2 class="text-center" > That's it. </h2>
    <p class="leader text-center home"> <a href="/">I'm in. Let's go.</a></p>
    <p class="small muted text-center ">
    I made this because I thought it might be a Good Idea. You can talk to me about it if you want. <a href="http://www.twitter.com/_notlikethis">@_notlikethis</a>
    </p>

</div>


{% endblock %}



{% block footer %}

{% endblock %}
{% block includejs %}
<script src="../static/js/zeroclipboard/ZeroClipboard.js"> </script>
<script src="../static/js/main.js"> </script>
{% endblock %}
