{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/main.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block container %}


<div class="hero-unit">
    <h1> textfac.es is a Good Idea. </h1>
    <p class="lead"> Because Google is hard. </p>
</div>

<div class="">

    <p class="lead">
    You want this:
    </p>
    <div class="well">
        <p class="text-bigger" >ಠ_ಠ</p>
    </div>
    <p class="lead">
    So you're doing this:
    </p>
    <div class="well">
        new tab > google.com > "look of disapproval text face thing" > google somehow knows what you want > highlight > ctrl + c > back to other tab > wait which tab? 
    </div>

    <p class="lead">
    ¯\_(ツ)_/¯
    </p>

    <h1> Ain't nobody got time for that. </h1>
    <div class="well well-silver">
        <ol>
            <li>textfac.es </li>
            <li>Click the face you want </li>
            <li>Paste it </li>
            <li><strong>There is no step four</strong></li>
        </ol>
    </div>

    <p class="">
    textfac.es sorts faces in order of use. The most frequently used face is at the top, so you'll probably find what you want pretty quickly. 
    </p>

    <h2 class="text-center" > That's it. </h2>
     <p class="leader text-center"> <a href="/">I'm in. Let's go.</a></p>
    <p class="small muted text-center">
	I made this because I thought it might be a Good Idea. You can talk to me about it if you want. <a href="http://www.twitter.com/_alexanderhogue">@_alexanderhogue</a>
    </p>

</div>


{% endblock %}



{% block footer %}

{% endblock %}
{% block includejs %}
<script src="../static/js/zeroclipboard/ZeroClipboard.js"> </script>
<script src="../static/js/main.js"> </script>
{% endblock %}
