
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="@_notlikethis">

    <!-- Le styles (bootstrap) -->
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <link href="../static/material/stylesheets/bootstrap-material-design/index.css" rel="stylesheet">
    <link href="../static/material/stylesheets/bootstrap-material-design/material.css" rel="stylesheet">
    <link href="../static/material/stylesheets/bootstrap-material-design/material-wfont.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- [le] HTML5 shim, for IE6-8 support of HTML5 elements suitable for scrublords -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
      <![endif]-->


    <!-- [le] Fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.png">
    {% block head %}
    {% endblock %}
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=672173289535125&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    {% block navbar %}
    {% endblock %}

    <div class="container">
    {% block container %}
    {% endblock %}
    </div>

    {% block footer %}
    {% endblock %}
    <!-- Le javascript [le]terally js
    ================================================== -->

    <!-- Don't use the Google cdn so users in China can load jquery.-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script async defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script async defer src="../static/material/javascripts/bootstrap-material-design/material.js"></script>
    <script async defer src="../static/material/javascripts/bootstrap-material-design/jquery.nouislider.min.js"></script>
    <script async defer src="../static/material/javascripts/bootstrap-material-design/ripples.js"></script>
    <script async defer src="../static/material/javascripts/bootstrap-material-design/snackbar.min.js"></script>

  
    <!-- Goog[le] analytics -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39885839-1']);
  _gaq.push(['_setDomainName', 'textfac.es']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    {% block includejs %}
    {% endblock %}
  </body>
</html>

