{% extends "base.html" %}
{% block head %}
<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/main.css">

{% endblock %}
{% block container %}

<div class="bookmark-banner alert" style="display: none;">
    <div class="pull-left">
        <a href="http://textfac.es" class="awesome-face"  ><img src="../static/ico/favicon.png" alt="textfac.es"></a> 
    </div>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Bookmark me maybe?</strong> <br>You'll probably want to get to this site quickly later. Just drag icon up to your bookmarks bar. Did you do it? Good. That was fun. You won't see this message again.
</div>

  <div class="ads">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Even more responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3510139642126584"
         data-ad-slot="8381273755"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3510139642126584"
         data-ad-slot="5427807359"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>

<hr>
<h1 class="title">textfac.es</h1> <small class="muted slogan-gag"> </small>
<p class=""> <small>Click to copy to clipboard. Paste anywhere. Achieve glory. </small>

</p>
<hr>

<div class="social">
    <div class="fb-like pull-right" data-href="http://textfac.es" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://textfac.es" data-text="(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜) Click to copy to clipboard! (~˘▾˘)~ ~(˘▾˘~)">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>


<div class="tabbable">
    <ul class="nav nav-tabs background-bluegrey">
        <li class="active">
        <a href="#faces" data-toggle="tab">Faces</a>
        </li>
        <li>
        <li class="nav-highlight">
        <a href="#textgags" data-toggle="tab">High Quality Text Gags</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="faces">
            <table class="faces table " border="">
            {% for pair in facepairs %}
                <tr class="facerow">
                {% for id,uses,face in pair%}
                    <td class="facedata"> 
                        <button class="facebtn btn-material btn-material-default " face-id="{{id}}" data-clipboard-text="{{face}}" >
                            <span class="face">{{face}}</span>
                        </button>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="textgags">
            <div class="text-gags">
                <form class="" action="#">
                    <div>
                        <div class="sample-gag">
                            <p class="muted sample-gag">
                            </p>
                        </div>
                        <textarea rows="3" class="gag-text text-large" placeholder="Type your gags here"></textarea>
                    </div>
                    <div>
                        <label class="select">
                            Choose a gag
                            <select class="gags">
                                <option value="zalgo">C̆ͪo̤̩r̰ͦr͔͊u̢ͭp̅̔t͋͠e̸ͭd̤̉ ̜̇t̃͂e̬̯x͆ͮt̹ͭ</option>
                                <option selected value="strikethrough">S̶t̶r̶i̶k̶e̶t̶h̶r̶o̶u̶g̶h̶</option>
                                <option value="fullwidth">ＣＡＰＩＴＡＬＢＯＹＳ</option>
                                <option value="flip">uʍop ǝpısdn</option>
                                <option value="smallcaps">sᴍᴀʟʟ ᴄᴀᴩs</option>
                                <option value="checkbox">☑ Checked boxes</option>
                                <option value="uncheckbox"> ☐ Unchecked boxes</option>
                                <option value="normal">Normal text</option>
                            </select>
                        </label>
                    </div>
                    <div id="zalgo-options" style="display: none;" class="">
                            <label class="select">
                                Corruption level
                                <select class="zalgo-level">
                                    <option value="1">M̐i̧l͖d̴</option>
                                    <option selected value="3">C͗̑ĺ̋a̸͟ś̗s̞̑i͏̆c̳̑</option>
                                    <option value="5">Ị̪́͆͂n̶͍̙̂̎s̳ͫͭ̐ͬa̦̬͒͐͏n̵͓̖̚͝i̢̳͏̹̣t̨̲̒ͨ̈y̧͚̯ͫ͞</option>
                                    <option value="10">"B͍̻̱͛͋ͬ̽̇̅ͯạ̵̡̠̾̍͊ͨ҉͙r̛̹͔̞̙͑̀ͬ͌̚e͉͇ͫ҉̷̞͇̫̉ͦl̘̯͖ͤ͊̀ͩ́͡ͅỷ̓͏̳̠͍̥͖ͯ͠ ̺̲̄̽̈ͥ͆̎͌̚l̦̹̬̜̠̞̀ͯͧ͟e̴̡̝̭̥ͫͬ̐̾͠g̝͓̬̙̥̀̓́͑̍į̗͙̺̲̈̇̾̽͟b̢̟̼͔͚̯̿͢͟͡l̶̨̟̱̎̀̈ͨͭ̃e̦̝͙ͣͩͬ̾̍͗͠"</option>
                                    <option value="20">H̸̨̡͎̦͓͖͙͖͕̦̼͔͊̂̀̓̂͜͡Ȩ̛̺͇̘̙̻͔̖͊̓ͭͬ͗̊ͪ̏͜͝͡ ̷̧̜̮̱͙̻̝ͫ̒̂̇̔̽͊͐ͪ͜͞ͅC̴̵̯̰͍̠̦͈̫͕̩͎̗ͬ̍́̆̿̃̿Ő̡̟̺̙͕͕̮̝̳͙ͫ̏ͬͭ́̒̂ͬ͟M̘͎̻̳̘̘͗̃͡҉̶͎̥ͧ̊ͬ̔̍̕͝È̴̵̢͚͍͙̺̞̼ͭ̿ͮͣ̌̈́̈́̉ͤ̕S̵̞ͣ̇ͧ̐ͥͬ͂̚҉̨͇̜̫ͬ̋̀́̓</option>
                                </select>
                            </label>
                    </div>
                    <div>
                        <button id="btn-copy" class="btn-material-default btn-material btn-material-raised" data-clipboard-text="">Copy to clipboard</button>
                        <button id="btn-reapply" class="btn-material-default btn-material btn-material-raised">Re-apply</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block footer %}

<hr>
<div class="footer ">
    <div class="container">
    <p class="muted text-center"> textfac.es is a <a href="/about">Good Idea</a> </p>

    <div class="container">
        <h4 class="faq">What is this?</h3>
        <div class="faq hidden">
            <p class="muted outro">
            textfac.es (or textfaces or text faces, I'm not really sure either and the words in these parentheses are really only here for SEO ( ͡° ͜ʖ ͡°)) lets you finally write those damn unicode faces. You should probably bookmark it so you don't lose it. When you need a textface, just hit the bookmark, click the face, and paste it where you want it to go.
            </p>
        </div>
    </div>
    <div class="container">
        <h4 class="faq">How does the click-to-copy work?</h3>
        <div class="faq hidden">
            <p class="muted outro">
            The click-to-copy works through <a class="muted" href="http://jonrohan.github.com/ZeroClipboard/">ZeroClipboard</a>, which uses Flash (I'm so sorry). If you don't have Flash, you'll have to highlight the faces like a caveman.
            </p>
        </div>
    </div>
    <div class="container">
        <h4 class="faq">Some of them look kinda weird.</h3>
        <div class="faq hidden">
            <p class="muted outro">
            If the faces look weird or you see rectangles all over the place, you might not have the right fonts installed. Or the face might actually be weird.
            </p>
        </div>
    </div>

    <br>
    <br>
    <br>
    <p class="muted text-center">
    ¯\_(ツ)_/¯
    </p>
</div>
</div>
{% endblock %}
{% block includejs %}
<script src="../static/js/zeroclipboard/ZeroClipboard.js"> </script>
<script src="../static/js/jquery.cookie.js"> </script>
<script src="../static/js/maps.js"> </script>
<script src="../static/js/textgags.js"> </script>
<script src="../static/js/main.js"> </script>
<script type="text/javascript">
    /*
    var ads = $('.adsbygoogle').filter(function fi(){
        return $(this).css('visibility') == 'hidden';
        });
    if (ads.length == 0){
        // StackOverflow swears this is legit.
        $("div.ads").html("<div style='text-align:center; font-family:century gothic, arial, helvetica, sans serif;padding-left:5px;padding-right:5px;'><span class='muted' style='font-size:10px'>Looks like you're blocking ads. ¯\\_(ツ)_/¯</span></div>");
    }

</script>
{% endblock %}
